.main-banner, .banner
  position: relative
  overflow: hidden
  .bg-video-container
    position: absolute
    width: 100%
    height: 100%
    z-index: -1
    +grayscale
    +scale(1.35)
    &:after
      content: ''
      display: block
      +fullsize
      background: rgba(white, .75)
  #bg-video
    +fullsize

  .video-background
    +fullsize
    z-index: -1
    +grayscale
    +scale(1.35)
    &:after
      content: ''
      display: block
      +fullsize
      background: rgba(white, .75)
  .video-foreground, .video-background iframe
    +fullsize
    pointer-events: none

  .title
    @extend %istok
    text-transform: uppercase
    color: $brown700
    letter-spacing: 2px
  .header
    position: relative
    @extend %goodvibes
    font-size: 72px
    color: $pink600
    line-height: 1.5
    span
      display: block
      color: $brown800
      position: relative
      left: 100px
      top: -20px
    @media #{$small-only}
      font-size: 60px
    @media screen and (min-width: 1920px)
      margin-top: 20px
      line-height: 1
      span
        top: -30px
  .subtitle
    font-size: 24px
    font-style: italic
    letter-spacing: 2px
    color: $brown800
    margin: 0
    @media #{$small-only}
      font-size: 20px
      line-height: 1.25
    @media (min-width: 1920px)
      font-size: 36px
.main-banner .header
  @media (min-width: 1920px)
    font-size: 140px
.banner .header.align
  left: -50px
//     banner   on   main   page

.main-banner
  position: relative
  width: 100%
  height: 100vh
  .hashtag
    position: absolute
    left: 20px
    bottom: 20px
    z-index: 1
  .socials
    position: absolute
    bottom: 20px
    right: 20px
    z-index: 1
    display: none
    @media #{$xlarge-up}
      display: block
  .top-part, .bottom-part
    height: 50vh
  .top-part
    position: relative
    width: 100%
    text-align: center
    padding-top: 25vh
    @media #{$medium-only}
      padding-top: 35vh
  .bottom-part
    position: absolute
    width: 100%
    top: 50%

  .line
    position: relative
    width: 1px
    background: transparent
    left: 50%
    overflow: hidden
    &:before
      content: ''
      position: absolute
      display: block
      width: 100%
      height: 100%
      background: $brown200
      +transition(transform 0.5s ceaser($easeInOutQuart))
    &.top
      position: absolute
      top: 80px
      height: calc(25vh - 100px)
      &:before
        +translate(0,100%)
      @media #{$medium-only}
        top: 100px
        height: calc(35vh - 100px)
    &.middle
      position: relative
      height: 100px
      &:before
        +translate(0,-100%)
      @media #{$small-only}
        height: 50px
    &.bottom
      position: absolute
      top: 190px
      bottom: 62px
      &:before
        +translate(0,-100%)
      @media #{$small-only}
        top: 140px
      @media screen and (min-width: 1920px)
        top: 230px
  .play-btn
    width: 70px
    height: 70px
    margin: 10px 0
    opacity: 0
    cursor: pointer
    +transition(opacity 1s)
    +x-align

    svg
      width: 70px
      height: 70px
      transition: .3s transform

    &:hover
      svg
        +transform(scale(1.15))

    @media screen and (min-width: 1920px)
      width: 90px
      height: 90px
      margin: 20px 0

      svg
        width: 90px
        height: 90px
  .scroll-down
    position: absolute
    left: 50%
    bottom: 20px
    +translate(-50%,0)
    opacity: 0
    +transition(opacity 1s)
    cursor: pointer

  .animate
    @for $i from 2 through 4
      .animate-#{$i}
        +anim-start(40px,0.2s, $number: $i)


  &.animated
    @for $i from 2 through 4
      .animate-#{$i}
        +anim-end($number: $i)
    .line.top, .line.middle
      &:before
        +transition-delay(1s)
        +translate(0,0)
    .play-btn
      +transition-delay(1.5s)
      opacity: 1
    .line.bottom
      &:before
        +transition-delay(3s)
        +translate(0,0)
    .scroll-down
      +transition-delay(3.5s)
      opacity: 1

//     banner   rest   pages

.banner
  position: relative
  width: 100%
  height: 70vh
  overflow: hidden
  .img-bg
    background-attachment: fixed
  &.grey-bg
    background: $grey50

  .banner-text
    +xy-align
    text-align: center
    padding: 15vh 0
    &:before, &:after
      content: ''
      position: absolute
      width: 1px
      height: 13vh
      background: $brown200
    &:before
      top: 0
    &:after
      bottom: 0
    &.with-button
      padding: 15vh 0 0
      &:after
        display: none

  .blog-one-text
    +xy-align
    text-align: center
    width: 600px
    max-width: 100%
    padding: 15vh 0 10vh
    &:before
      content: ''
      position: absolute
      width: 1px
      height: 13vh
      background: $brown200
      top: 0
    .one-title
      text-transform: uppercase
      line-height: 1
      font-size: 36px
      color: $brown800
      +medium

  .likes
    position: absolute
    left: 50%
    +translate(-50%,0)
    bottom: 0

  .button
    margin-top: 10vh
    &:before
      content: ''
      position: absolute
      width: 1px
      height: 6vh
      background: $brown200
      top: -8vh
      left: 50%
