.collage-wrapper
  margin: 150px 0
  @media #{$small-only}
    margin: 100px 0

  .optional-full-width-photo
    position: relative
    padding-bottom: 100%
    background-position: center
    background-size: cover
    margin: 0 auto
    width: calc(100% - 20px)
    @media #{$large-up}
      padding-bottom: 50%
    &:before
      content: ''
      position: absolute
      width: 1px
      height: 150px
      left: 50%
      top: -100px
      background: $brown200
      z-index: 1
      @media #{$small-only}
        height: 100px
        top: -70px

  .play-btn
    +centered-inside
    width: 100px
    height: 100px
    z-index: 2
    opacity: 0.7
    cursor: pointer
    +transition(opacity .25s)

    svg
      width: 100px
      height: 100px
      transition: .3s transform

    &:hover
      opacity: 1

      svg
        +transform(scale(1.15))

  .collage-container
    margin: 10px 0

  .hide
    display: none
    @media #{$xlarge-up}
      display: block

  .floated
    position: relative
    width: 100%
    overflow: hidden
    @media #{$xlarge-up}
      width: 50%

  .square
    float: left
    position: relative
    width: calc(50% - 20px)
    margin: 10px
    overflow: hidden
    &:after
      content: ""
      padding-bottom: 100%
      display: block
    @media #{$small-only}
      width: calc(100% - 20px)
    //&:after
      +square
    &.fullwidth
      width: calc(100% - 20px)
    &.height-2x
      &:after
        @media #{$large-up}
          padding-bottom: calc(200% + 20px)
    &.height-1-5x
      &:after
        @media #{$large-up}
          padding-bottom: calc(150% + 20px)
    &.height-half
      &:after
        @media #{$large-up}
          padding-bottom: calc(100%/2 + 20px)

  .img-bg
    background-color: $brown800

  .lg-object
    +fullsize
    img
      display: none

  &.blue-background
    .img-bg
      background-color: $blueGrey800

  &.inside-project-one
    margin: 100px 0
    .square
      float: none
      margin: 10px
      @media #{$large-up}
        width: calc(100% - 20px)
        margin: 20px auto
      &.half
        @media #{$large-up}
          margin: 0 10px
          width: calc(50% - 20px)
          float: left
      &.added-height
        @media #{$large-up}
          &:after
            padding-bottom: calc(100% + 30px)
    &.scheme-7
      .columns:last-child
        .square
          &:first-child, &:nth-child(2)
            margin: 20px 10px


  .inner-border
    position: absolute
    top: 10px
    left: 10px
    right: 10px
    bottom: 10px
    border: 1px solid white
    pointer-events: none
  .shadow
    +fullsize
    +translate(10px,-10px)
    background-color: $brown50
    z-index: -1
  h2, .h2
    color: white
    text-transform: none
    font-weight: normal
    line-height: 1
  .text
    +xy-align
    position: absolute
    width: 100%
    padding: 0 20px
    color: white
    text-align: center
    z-index: 2

    @for $i from 1 through 3
      .animate-#{$i}
        +anim-start(100px,0.1s, $number: $i)
  .smaller
    @extend %cormorant
    font-style: italic
    color: $brown100
  .heart
    margin: 10px auto
    width: 16px
    height: 16px
    svg
      fill: white
    @media screen and (min-width: 1920px)
      margin: 20px auto
  .regular
    @extend %cormorant
    color: white
  .social-icon
    position: absolute
    bottom: 20px
    right: 20px
    width: 20px
    height: 20px
    z-index: 2
    &.animate-3
      +anim-start(100%,0.05s, $number: 3)
    &.animate-4
      +anim-start(100%,0.05s, $number: 4)
    svg
      fill: white

  .social-media
    cursor: pointer
    &:before
      content: ''
      display: block
      +fullsize
      background: rgba($pink600,0.95)
      z-index: 1
      +translate(0,100%)
      +transition(transform 0.5s ceaser($easeOutExpo))
    &:hover
      &:before
        +translate(0,0)
      .text
        @for $i from 1 through 3
          .animate-#{$i}
            +anim-end(0.15s, 0.2s, $number: $i)
      .social-icon
        +anim-end(0.1s, 0.4s, $number: 3)