<h2><%= t("devise.sign-in.title") %></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "contact-form"}) do |f| %>
  <div class="input-field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="input-field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit t("devise.sign-in.form-button"), class: 'button' %>
  </div>
<% end %>

<%= render "users/shared/links" %>
