.banner.events-banner

  .img-bg style="background-image: url(#{asset_path('photo/event-one/events_bg.jpg')})"

  .banner-text.with-button

    p.header
      = raw t('events.banner.title')
    h1.subtitle
      p.subtitle
        = t("events.banner.subtitle")
    .button.order-button
      = raw t('events.banner.btn')

.section-name.slide-up
  h2.title
    = raw t('events.title-block-1.title')
  p.event-subtitle
    = raw t('events.title-block-1.subtitle')

.row
  .columns.medium-4
    .intro-block.slide-up
      = inline_svg "svg/event-one/list_icon_brown-05.svg"
      p.title = t('events.intro-block-1.title')
      p.subtitle = t('events.intro-block-1.subtitle')
  .columns.medium-4
    .intro-block.slide-up
      = inline_svg "svg/event-one/player_icon-04.svg"
      p.title = t('events.intro-block-2.title')
      p.subtitle = t('events.intro-block-2.subtitle')
  .columns.medium-4
    .intro-block.slide-up
      = inline_svg "svg/event-one/cake_icon-03.svg"
      p.title = t('events.intro-block-3.title')
      p.subtitle = t('events.intro-block-3.subtitle')

.section-name.slide-up.event-cases-wrap
  .img-bg.lazy data-bg="url(#{asset_path('photo/event-one/list_events_bg.jpg')})"
  h2.title
    = raw t('events.title-block-2.title')
  p.event-subtitle
    = raw t('events.title-block-2.subtitle')

= render "projects_filters"

= render "projects", projects: @projects

.process-wrap

  .img-bg.lazy data-bg="url(#{asset_path('photo/event-one/event-person-bg.png')})"

  .section-name.slide-up
    h2.title
      = raw t('events.title-block-3.title')
    p.event-subtitle
      = raw t('events.title-block-3.subtitle')

  .services-wrapper.slide-up
    .row
      .columns.large-6
        .service
          .icon
            = inline_svg "svg/event-one/list_icon_brown.svg"
          .h3
            = t('events.process-step-1.title')
          = raw t("events.process-step-1.description")
        .service
          .icon
            = inline_svg "svg/event-one/lamp_icon.svg"
          .h3
            = t("events.process-step-2.title")
          = raw t("events.process-step-2.description")
        .service
          .icon
            = inline_svg "svg/event-one/target_icon-09.svg"
          .h3
            = t("events.process-step-3.title")
          = raw t("events.process-step-3.description")
  .person-bg.lazy data-bg="url(#{asset_path('photo/photo_z_planerom_new.png')})"

.row.collapse.nav-container.event-order-container
  .columns.medium-6
    .nav-block.order-button
      .text
        p.small
          = t("events.order-event-block.short-description")
        p.title
          = raw t("events.order-event-block.title")
      .icon = inline_svg "svg/2h-arrow-01.svg"
  .columns.medium-6
    .nav-block
      .img-bg.lazy data-bg="url(#{asset_path('photo/event-one/orded_bg.jpg')})"