.section-name.slide-up
  p.background-text
    = t('home.feedbacks.bg-text')
  .icon = inline_svg "svg/2h-icons-rings-01.svg"
  h2.title
    = raw t('home.feedbacks.title')

= render "projects/scheme4", assets: @feedbacks
