.clearfix.events-intro

  .floated
    .img-bg.lazy data-bg="url(#{asset_path('photo/event-one/home_page_events_bg.jpg')})"
  .floated
    .text
      p.small
        = t("home.events.title")
      p.large
        = t("home.events.subtitle")
      a.button href=events_path
        = t("home.events.button-title")