.banner

  .img-bg.lightened style="background-image: url(#{asset_path('photo/hearts-slide-1.jpg')})"

  .banner-text.with-button

    p.header
      = t('contact_us.banner.title')
    h1.subtitle
      = h1_text
    .button.order-button
      = t('contact_us.order_btn')

.indent
  .row
    .columns.large-5
      - if @contact_info.phones.present?
        .contact-block
          span
            = t("contact_us.labels.phone")
          - @contact_info.phones.each do |k, v|
            - phone_number = v
            - if phone_number.blank?
              - phone_number = k
            p
              a href=phone_url(phone_number)
                = phone_number
      - if @contact_info.emails.present?
        .contact-block
          span
            = t("contact_us.labels.email")
          - @contact_info.emails.each do |k, v|
            - email = v
            - if email.blank?
              - email = k
            p
              a href=email_url(email)
                = email
      .contact-block
        span
          = t("contact_us.labels.address")
        p
          a href="http://www.google.com/maps/place/49.8557314,24.0447219" target="_blank"
            = @contact_info.address
      .contact-block
        span
          = t("contact_us.labels.social-networks")
        ul.socials
          - social_links.each do |k, social_link|
            li
              a rel="nofollow" target="_blank" href=social_link[:url] title=I18n.t("html_titles.general.social-link-titles.#{k}")
                = k

        .hashtag
          a href=hash_tag_url(main_hash_tag) rel="nofollow" target="_blank" title=t("html_titles.general.instagram-tag-title")
            span #
            = main_hash_tag
      .subscribe-button
        = t("components.subscribe-button")
    .columns.large-6
      = render "contact_form"

= render "projects/scheme#{@contact_info.contact_images_scheme}", assets: @contact_info.contact_images

.one-wrapper
  .row
    .columns
      .section-name.in-contacts.slide-up
        .background
        p.background-text
          = t('contact_us.join_us.bg-text')
        p.title
          = raw t('contact_us.join_us.title')
  .row
    .columns.large-6.floated-right-block
      .main-text
        = raw @contact_info.vacancies_text
        .vacancie-link-container
          - @featured_vacancies.each do |vacancy|
            a.vacancie-link href=vacancy.url
              p
                = vacancy.name
              span
                = vacancy.short_description

          - if @extra_vacancies_count_text

            a.all-links href=vacancies_path
              span #{@extra_vacancies_count_text}

= render "go_to_all_projects"