= render "main_banner"

.section-name.slide-up
  p.background-text
    = t('home.projects.bg-text')
  .icon = inline_svg "svg/2h-icons-rings-01.svg"
  h2.title
    = raw t('home.projects.title')

= render "portfolio_carousel", projects: @projects

= render "home_services"

= render "home_events"

= render "home_slides"

= render "home_why_we"

= render "home_team"

= render "home_feedbacks"

.subscribe-wrapper.slide-up

  p.title
    = t("components.subscription-block.title")
  p.larger
    = t("components.subscription-block.subtitle")

  form.email-subscription-form action="/#{I18n.locale}/subscribe_on_email_ubscriptions"
    .input-field.leave-email
      input type="email" name="email"
      label.placeholder
        = t("components.subscription-block.email")
      span.line
      button.send-email-button type="submit"
        = inline_svg "svg/2h-send-01.svg"

.row.collapse.nav-container.slide-up
  .columns.medium-6
    a.nav-block.order-button
      p.small
        = t("home.order-wedding-block.short-description")
      p.title
        = raw t("home.order-wedding-block.title")
      .icon = inline_svg "svg/2h-arrow-01.svg"
  .columns.medium-6
    a.nav-block.send-resume
      p.small
        = t("home.join-us-block.short-description")
      p.title
        = raw t("home.join-us-block.title")
      .icon = inline_svg "svg/2h-arrow-01.svg"