.banner

  .img-bg.lightened style="background-image: url(#{asset_path('photo/hearts-slide-1.jpg')})"

  .banner-text

    p.header
      = t('vacancies.banner.title')
    h1.subtitle
      = h1_text

.one-wrapper
  .row
    .columns.medium-10.medium-centered

      .main-text

        .h2
          = t("vacancies.intro.title")
        = raw t("vacancies.intro.description")


      - @vacancies.each do |vacancy|
        .accordion-button id=(vacancy.url_fragment if vacancy.url_fragment.present?)
          p
            = vacancy.name
          span
            = vacancy.short_description
        .accordion-inner
          = raw vacancy.content

          .send-resume data-vacancy-id=vacancy.id
            = t("vacancies.send-cv-button")

.inner-page-bottom.slide-up
  .img-bg.lazy data-bg="url(#{asset_path('photo/2H-bg-elements-v2.jpg')})"
  .section-name
    p.title
      = raw t('vacancies.join_us.title')
    a.button href=Pages.about_us.url
      = t('vacancies.join_us.btn')