.row.collapse
  .columns

    .wedding-creators-container

      .narrator-block
        .img style="background-image: url(#{@project.featured_member_avatar.url(:thumb)})"
        p.name
          = @project.featured_member_name
        p.smaller
          = @project.featured_member_short_description

      .row.columns-left
        .columns
          h2.small
            = t("#{resource_i18n_root}.summary.title")
        .columns.medium-4
          = render_summary_attributes(@project, [:idea_and_organization, :coordination, :decor, :narrator, :music, :photographer, :videographer, :formatted_technical_support, :special_effects])

        .columns.medium-4
          = render_summary_attributes(@project, [:formatted_release_date, :address, :guests_count_string, :show_program, :candy_bar, :catering,])

          .button.share-button
            = t("projects.share-button")
          .likes-wrap data-translation-already-liked=t("components.likes-wrap.already-liked")
