.project-one-banner
  - banner_image_url = project.banner.exists?(:large) ? project.banner.url(:large) : asset_path('photo/hearts-slide-2.jpg')
  .img-bg style="background-image: url(#{banner_image_url})"

  - if project.video_url.present?
    .play-btn.project_video_button data-video-popup-id=project_video_popup_id(project) data-video-id=project.video_url[/\d+/]
      /= inline_svg "svg/2h-play-button-012.svg"
      = inline_svg "svg/play_button.svg"

  .banner-text
    p.subtitle.animate-1
      = project.category_name
    h1.p.title.animate-2
      = project.name