- square_partial_name = "image"
- square_partial_name = "feedback" if assets.model == ProjectFeedback

- border_for = rand(1..6)

.collage-wrapper.slide-up.scheme-5
  - assets.in_groups_of(6, false) do |group|
    .row
      .columns
        = render square_partial_name, asset: group[0], style: :large, full_square_class: "optional-full-width-photo slide-up", show_border: border_for == 1
        - if group.count >= 2
          .clearfix.collage-container
            .floated.clearfix
              = render square_partial_name, asset: group[1], show_border: border_for == 2
              = render square_partial_name, asset: group[2], show_border: border_for == 3
              = render square_partial_name, asset: group[3], show_border: border_for == 4
              = render square_partial_name, asset: group[4], show_border: border_for == 5

            - if group.count >= 6
              .floated
                = render square_partial_name, asset: group[5], square_class: "fullwidth", show_border: border_for == 6