.not-found-wrapper

  .img-bg style="background-image: url(#{asset_path('photo/2H-404-little-shoes.jpg')})"

  .text
    = inline_svg "svg/bg-text/2h-404-text-01.svg"
    a title=t("not_found.go-home-html-title") href=root_path
      = t("not_found.go-home")