=anim-start($x-translate: 30px, $transition: 0.1s, $transition-delay: 0s, $number: 1)
  transform: translate3d(0, 0, 0)
  transform: translate(0, #{$number*0.5*$x-translate})
  opacity: 0
  transition: #{$number*0.5*$transition} ceaser($easeInOutQuart)
  transition-delay: $transition-delay
  transition-property: opacity, transform

=anim-end($transition: 0.25s, $transition-delay: 0s, $number: 1)
  transform: translate(0,0)
  opacity: 1
  transition: #{$number*$transition} ceaser($easeInOutQuart)
  transition-delay: $transition-delay
  transition-property: opacity, transform

//     left to right animation

=LR-start($max-w: 0, $transition: 1s, $transition-delay: 0.2s)
  @for $i from 1 through 100
    &:nth-of-type(#{$i})
      max-width: 0
      transition: $transition ceaser($easeInOutQuart)
      transition-delay: #{$i*0.5*$transition-delay}
      transition-property: max-width

=LR-end($transition-delay: 0.2s)
  @for $i from 1 through 100
    &:nth-of-type(#{$i})
      max-width: 100%
      transition-delay: #{$i*0.5*$transition-delay}

@keyframes menu-bg
  0%
    opacity: 0
  50%
    opacity: 1
  75%
    +translate(0,0)
  100%
    opacity: 1
    +translate(100px,0)

//     up and down animation

=UD-start
  +transition(all 1s ceaser($easeOutCubic))
  +translate(0,75px)
  opacity: 0
=UD-end
  +translate(0,0)
  opacity: 1

.slide-up
  +UD-start
  &.animate
    +UD-end

@keyframes heartbeat
  20%
    +scale(1.1)
  35%
    +scale(1)
  55%
    +scale(1.15)
    +transition(ceaser($easeOutQuart))
  80%
    +scale(1)

@keyframes bounce
  0%, 20%, 50%, 80%, 100%
    +translate(0,0)
  40%
    +translate(0,-20px)
  60%
    +translate(0,-10px)