$animated-carousel-items-count: 4
.owl-prev, .owl-next
  position: absolute
  top: 40%
  text-indent: -9999px
  width: 40px
  height: 40px
  +transition(transform 0.25s ceaser($easeInOutQuad))
  opacity: 0.8
  &.disabled
    display: none
  &:hover
    +scale(1.2)
    opacity: 1
.owl-prev
  background-image: asset_url('svg/arrow-left-carousel.svg')
  left: 40px
  @media #{$small-only}
    left: 20px
.owl-next
  background-image: asset_url('svg/arrow-right-carousel.svg')
  right: 40px
  @media #{$small-only}
    right: 20px

.portfolio-wrapper
  width: 100%
  overflow: hidden
  margin-bottom: 80px
  @media #{$small-only}
    margin-bottom: 50px

.owl-carousel-portfolio
  position: relative
  padding-left: 30px
  @media #{$small-only}
    padding-left: 10px
  .owl-item
    .project-block
      max-width: 0
      +translate3d(0,0,0)
      transition: 1s ceaser($easeInOutQuart)
      transition-property: max-width
      margin-bottom: 0

      .img
        position: relative
        @media #{$small-only}
          height: calc( (100vw - 20px) * 1.5 )
        @media #{$medium-up}
          height: calc( (100vw/2 - 40px) * 1.5 )
        @media #{$large-up}
          height: calc( (100vw/3 - 40px) * 1.5 )
        @media #{$xlarge-up}
          height: calc( (100vw/4 - 80px) * 1.5 )
      .text
        opacity: 0
        +transition(opacity 0.5s)

    @for $i from 1 through $animated-carousel-items-count
      &:nth-of-type(#{$i})
        .project-block
          transition-delay: #{$i*0.3s}

          .text
            transition-delay: #{1.2s+$i*0.3s}

  &.animate
    .owl-item
      .project-block
        +translate3d(0,0,0)
        max-width: 100%
        .text
          opacity: 1



.owl-carousel-team
  margin-top: 100px
.owl-carousel-team
  @media #{$small-only}
    display: none !important
.owl-carousel-team, .team-wrapper, .blog-carousel
  position: relative
  .owl-item
    .team-member-block, .blog-block
      max-width: 0
      +translate3d(0,0,0)
      transition: 1s ceaser($easeInOutQuart)
      transition-property: max-width

      .text
        opacity: 0
        +transition(opacity 0.5s)

    @for $i from 1 through $animated-carousel-items-count
      &:nth-of-type(#{$i})
        .team-member-block, .blog-block
          transition-delay: #{$i*0.3s}

          .text
            transition-delay: #{1.2s+$i*0.3s}

  .team-member-block
    position: relative
    margin-bottom: 30px
    @media #{$small-only}
      width: calc(100vw - 20px)
    &:before
      +gradient
      z-index: 1
    .img
      position: relative
      @media #{$small-only}
        height: calc( (100vw - 20px) * 1.25 )
      @media #{$medium-up}
        height: calc( (100vw/2 - 20px) * 1.25 )
      @media #{$xlarge-up}
        height: calc( (100vw/3 - 20px) * 1.25 )
      @media #{$xxlarge-up}
        height: calc( (100vw/4 - 20px) * 1.25 )
    .text
      position: absolute
      bottom: 30px
      left: 30px
      right: 30px
      z-index: 2
      &:after
        content: ''
        display: block
        width: 100%
        height: 3px
        background: white
        position: absolute
        bottom: 0
        left: 0
        +transition(transform 0.5s ceaser($easeInOutQuad))
        transform: scaleX(0.3)
        transform-origin: 0 0
    p
      color: white
      +transition(0.25s)
    .name
      font-size: 30px
      text-transform: uppercase
      @extend %cormorant
      +bold
      +translate(0,20px)
      +transition(transform 0.5s ceaser($easeInOutQuad))
      line-height: 1
      margin-bottom: 5px
    .position
      font-size: 16px
      opacity: 0
      +transition(opacity 0.5s ceaser($easeInOutQuad))
    &.join-us
      display: block
      background-color: $grey100
      @media #{$small-only}
        height: calc( (100vw - 20px) * 0.8 )
      @media #{$medium-up}
        height: calc( (100vw/3 - 20px) * 1 )
      @media #{$xlarge-up}
        height: calc( (100vw/4 - 20px) * 0.8 )
      @media (min-width: 1920px)
        height: calc( (100vw/4 - 20px) * 0.5 )

      &:before
        display: none
      &:after
        content: ''
        display: block
        position: absolute
        top: 10px
        left: 10px
        right: 10px
        bottom: 10px
        border: 1px solid $brown200
      .name
        font-size: 24px
        color: $brown400
        +translate(0,0)
        margin-top: 20px
        @media #{$xxlarge-up}
          font-size: 30px
      .text
        position: absolute
        text-align: center
        width: 80%
        top: 20%
        left: 10%
        bottom: initial
        &:after
          display: none

  .team-member-block:hover
    .text
      +translate(0,0)
      &:after
        transform: scaleX(1)
    .name
      +translate(0,0)
    .position
      opacity: 0.7
  &.animate
    .owl-item
      .team-member-block, .blog-block
        max-width: 100%
        .text
          opacity: 1

.blog-carousel
  margin-bottom: 100px
  .blog-block
    float: none
    width: 100%
    @media #{$small-only}
      height: calc(100vw - 20px)
    @media #{$medium-up}
      height: calc(100vw/3 - 20px)
    @media #{$xlarge-up}
      height: calc(100vw/4 - 20px)
    .text
      padding: 30px 20px 20px
    .title
      font-size: 18px
    .date, .read-about
      bottom: 10px
    .description
      display: none