// ISTOK
//@import url('https://fonts.googleapis.com/css?family=Istok+Web:400,400i,700,700i&subset=cyrillic-ext')
// CORMORANT
//@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant:400,400i,700,700i&subset=cyrillic-ext')
// GOOD VIBES

// bad
// https://fonts.googleapis.com/css?family=Istok+Web:400,400italic,700,700italic&subset=cyrillic,cyrillic-ext%7CCormorant+Infant:400,400italic,700,700italic&subset=cyrillic,cyrillic-ext

// good
// https://fonts.googleapis.com/css?family=Istok+Web:400,400i,700,700i&subset=cyrillic-ext

@font-face
  font-family: 'Goodvibespro'
  src: font_url('goodvibes/goodvibescyr.eot')
  src: font_url('goodvibes/goodvibescyr.eot?#iefix') format('embedded-opentype')
  src: font_url('goodvibes/goodvibescyr.woff') format('woff')
  src: font_url('goodvibes/goodvibescyr.ttf')
  font-weight: normal
  font-style: normal


@font-face
  font-family: lg
  src: font_url('lightgallery/lg.eot?n1z373')
  src: font_url('lightgallery/lg.eot?#iefixn1z373') format("embedded-opentype"), font_url('lightgallery/lg.woff?n1z373') format("woff"), font_url('lightgallery/lg.ttf?n1z373') format("truetype"), font_url('lightgallery/lg.svg?n1z373#lg') format("svg")
  font-weight: normal
  font-style: normal