- if defined?(asset) && asset.present?
  - if !defined?(square_class)
    - square_class = ""

  - if !defined?(full_square_class)
    - full_square_class = false

  - if full_square_class.blank?
    - full_square_class = "square social-media " + square_class

  - if !defined?(style)
    - style = :square


  - attachment = asset.try(:image) || asset.try(:data)

  - if !defined?(show_border)
    - show_border = false

  div class=full_square_class
    .img-bg.lazy data-bg="url(#{attachment.url(style)})"
    - if show_border
      .inner-border
    .text
      .h2.animate-1
        = asset.name
      .heart.animate-2 = inline_svg "svg/2h-little-heart-01.svg"
      p.regular.animate-3
        |«#{asset.message}»
    .social-icon class="animate-#{show_border ? 4 : 3}"
      = inline_svg "svg/2h-little-insta-01.svg"

