.company-footer
  .row
    .columns.large-3
      a.company-icon-full title=I18n.t("html_titles.header.back_to_main") href=root_path = inline_svg "svg/2h-logo-full-footer-new.svg"
    .columns.large-3.medium-4
      .contact-info
        p.small = t("components.footer.block_title_1")
        a.larger href="http://www.google.com/maps/place/49.8557314,24.0447219" target="_blank"
          = I18n.t("contact_us.address.line1")
          br
          = I18n.t("contact_us.address.line2")
    .columns.large-3.medium-4
      .contact-info
        p.small = t("components.footer.block_title_2")
        a.larger title=t("components.footer.html-titles.call-us") href="tel:+380676726830" +38 (067) 672 68 30
        a.larger title=t("components.footer.html-titles.send-email") href="mailto:info@wed.in.ua" info@wed.in.ua
    .columns.large-3.medium-4
      p.small = t("components.footer.block_title_3")
      ul.socials
        - social_links.each do |k, social_link|
          li
            a.social-icon rel="nofollow" target="_blank" href=social_link[:url] title=I18n.t("html_titles.general.social_link")
              = embedded_svg_from_assets(social_link[:icon])

.footer
  .columns
    p.company.float-left
      | &copy; 2008 &mdash; #{Date.today.year}
      a href=root_path
        = raw t("components.footer.copyright-company")
    p.studio.float-right
      a title=I18n.t("html_titles.web_of_dev") rel="nofollow" target="_blank" href="http://voroninstudio.eu/"
        = inline_svg "svg/studio-logo.svg"
      = raw t("components.footer.developed-by")
      a title=I18n.t("html_titles.web_of_dev") rel="nofollow" target="_blank" href="http://voroninstudio.eu/"
        = t("components.footer.developed-by-company")