.inner-page-bottom.slide-up
  .img-bg.lazy data-bg="url(#{asset_path('photo/2H-bg-elements-v1.jpg')})"
  .section-name
    h2.title
      = raw t('projects.related.title')
    a.button href=weddings_path
      = raw t('projects.related.btn')