.header-container
  a.logo title=I18n.t("html_titles.header.back_to_main") href=root_path = inline_svg "svg/2h-logo-011.svg"
  = render "breadcrumbs"
  .right-part
    a.dib.small title=I18n.t("html_titles.header.view_projects") href=weddings_path
      = t("components.header.weddings")
    a.dib.small title=I18n.t("html_titles.header.view_events") href=events_path
      = t("components.header.events")
    a.dib.small title=I18n.t("html_titles.header.contacts") href=contacts_path
      = t("components.header.contacts")
    .dib.hamburger.hamburger--collapse title=I18n.t("html_titles.header.hamburger")
      span.hamburger-box
        span.hamburger-inner