- if defined?(asset) && asset.present?
  - if !defined?(square_class)
    - square_class = ""

  - if !defined?(full_square_class)
    - full_square_class = false

  - if !full_square_class
    - full_square_class = "square " + square_class

  - if !defined?(style)
    - style = :square

  - attachment = asset.try(:data) || asset.try(:image)

  - if !defined?(show_border)
    - show_border = false

  - video_url = ApplicationHelper.video_url(asset)
  - if video_url.present?
    - full_square_class += " has-video"

  div class=full_square_class href=attachment.url(style)
    - if video_url.present?
      .play-btn.project_video_button data-video-popup-id=attachable_video_popup_id(asset) data-video-id=video_url[/\d+/]
        /= inline_svg "svg/2h-play-button-011.svg"
        = inline_svg "svg/play_button.svg"
    .img-bg.lazy data-bg="url(#{attachment.url(style)})"
    - if show_border
      .inner-border

    a.lg-object href=attachment.url(:popup)
      - image_attrs = {}
      - image_attrs[:'data-src'] = attachment.url(style)
      - image_attrs[:class] = 'lazy'
      - if asset.data_alt.present?
        - image_attrs[:alt] = asset.data_alt
        - image_attrs[:title] = asset.data_alt
      = content_tag(:img, "", image_attrs)
    - pinit_description = asset.data_alt.present? ? asset.data_alt : @page_instance.try(:title)
    - pinit_description = nil if pinit_description.blank?
    .pinterest-btn data-media=(host + attachment.url(:popup)) data-description=pinit_description Save