.main-banner

  .video-background
    .video-foreground
      .main-banner-iframe-wrap
        iframe#bg-video frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" scrolling="no" data-src=background_youtube_video_url('tbZNMrQ5ipc')
        /video.fullscreen-bg__video autoplay="" loop="" muted="" controls="true"
          source src=asset_path('bg-video.mp4') type="video/mp4"

  .hashtag
    a href=hash_tag_url(main_hash_tag) target="_blank" rel="nofollow"
      span #
      = main_hash_tag

  ul.socials
    - social_links.each do |k, social_link|
      li
        a rel="nofollow" target="_blank" title=I18n.t("html_titles.general.social_link") href=social_link[:url]
          = (I18n.t("html_titles.general.social_link_names.#{k}", raise: true) rescue k.to_s)

  .top-part
    .line.top
    p.title.animate.animate-2
      = t('home.banner.title')
    p.header.animate.animate-3
      = t('home.banner.header')
    h1.subtitle.animate.animate-4
      = h1_text

  .bottom-part
    .line.middle
    .play-btn.company_video_btn title=I18n.t("html_titles.general.play_btn") data-video-id=@home_video[:video_id] data-video-popup-id=@home_video[:popup_id]
      /= inline_svg "svg/2h-play-button-011.svg"
      = inline_svg "svg/play_button.svg"
    .line.bottom
    .scroll-down title=I18n.t("html_titles.general.scroll_down") = inline_svg "svg/mice.svg"