.menu-wrapper

  .img-bg.lazy data-bg="url(#{asset_path('photo/2hearts88.jpg')})"
  .img-bg.lazy data-bg="url(#{asset_path('photo/2hearts11.jpg')})"
  .img-bg.lazy data-bg="url(#{asset_path('photo/2hearts99.jpg')})"

  .menu
    p.menu-title
      = t("components.menu_popup.title")
    ul.menu-link-list
      li
        a href=Pages.about_us.url
          span
            = t("components.menu.about_us")
      li
        a href=weddings_path
          span
            = t("components.menu.weddings")
      li
        a href=events_path
          span
            = t("components.menu.events")
      li
        a href=services_path
          span
            = t("components.menu.services")
      li
        a href=blog_path
          span
            = t("components.menu.blog")
      li
        a href=faq_path
          span
            = t("components.menu.faq")
      li
        a href=contacts_path
          span
            = t("components.menu.contacts")

    a.regular href=vacancies_path
      = t("components.menu.vacancies")
    a.regular href=privacy_policy_path
      = t("components.menu.privacy_policy")

    .xxxlarge-bottom-part

      a.contacts href="tel:+380676726830"
        | +38 (067) 672 68 30
      span.slash &#47;
      a.contacts.email href="mailTo:info@wed.in.ua"
        | info@wed.in.ua

      ul.socials
        - social_links.each do |k, social_link|
          li
            a.social-icon rel="nofollow" target="_blank" href=social_link[:url]
              = embedded_svg_from_assets(social_link[:icon])


      .button.order-button
        = t("components.menu_popup.order-wedding")