- sharing_resource = @project || @article
.popup-wrapper

  .close-popup = inline_svg "svg/cross.svg"

  - if sharing_resource
    = render "share_block", resource: sharing_resource


  .subscribe-block
    .h2
      = t("components.subscription-popup.title")
    p.smaller
      = t("components.subscription-popup.subtitle")
    form.email-subscription-form action="/#{I18n.locale}/subscribe_on_email_ubscriptions"
      .input-field
        label for="email"
          = t("components.subscription-popup.email")
        input#email type="email" name="email" placeholder="mail@gmail.com"

        button.input-icon type="submit"
          = inline_svg "svg/2h-send-01.svg"

  .order-form
    = render "order_form"

  .resume-form
    = render "vacancy_form"

  .question-form
    = render "question_form"

  .success-message-popup
    = render "success_popup"