- if defined?(projects) && projects.count > 0
  .portfolio-wrapper
    .owl-carousel.owl-carousel-portfolio.appeared
      - projects.each do |project|
        a.project-block title=I18n.t("html_titles.projects.view_project") data-hover-text=t("html_titles.projects.view-project-hover") href=project.url
          .img
            .img-bg.lazy data-bg="url(#{project.avatar.url(:medium)})"
              img.bcg.lazy data-src=project.avatar.url(:medium)
          .text
            p.subtitle
              = project.category_name
            p.title
              = project.name
            .heart-icon
              = project.category_svg_icon_string