.modal-video.rendered-on-backend id=popup_id aria-label=("You just openned the modal video") role="dialog" tabindex="-1"
  .modal-video-body
    .modal-video-inner
      .modal-video-movie-wrap style="padding-bottom:56.25%"
        button.modal-video-close-btn.js-modal-video-dismiss-btn aria-label=("Close the modal by clicking here")
        iframe data-provider="vimeo" id="#{popup_id}-iframe" allowfullscreen="true" frameborder="0" height="230" src="https://player.vimeo.com/video/#{video_id}?api=1&autoplay=1" tabindex="-1" width="460"
