.modal-video id=popup_id aria-label=("You just openned the modal video") role="dialog" tabindex="-1"
  .modal-video-body
    .modal-video-inner
      .modal-video-movie-wrap style="padding-bottom:56.25%"
        button.modal-video-close-btn.js-modal-video-dismiss-btn aria-label=("Close the modal by clicking here")
        iframe data-provider="youtube" id="#{popup_id}-iframe" allowfullscreen="true" frameborder="0" height="230" src="https://www.youtube.com/embed/#{video_id}?autoplay=1&enablejsapi=1&origin=#{ENV["#{Rails.env}.host_with_port"]}" tabindex="-1" width="460"
