doctype html
html
  head
    meta charset="utf-8"
    = seo_tags
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    = csrf_meta_tags

    link rel="icon" type="image/png" href=asset_path("favicon/favicon-16x16.png") sizes="16x16"
    link rel="icon" type="image/png" href=asset_path("favicon/favicon-32x32.png") sizes="32x32"
    link rel="icon" type="image/png" href=asset_path("favicon/favicon-76x76.png") sizes="76x76"
    link rel="icon" type="image/png" href=asset_path("favicon/favicon-96x96.png") sizes="96x96"
    link rel="icon" type="image/png" href=asset_path("favicon/favicon-180x180.png") sizes="180x180"
    link rel="icon" type="image/png" href=asset_path("favicon/favicon-196x196.png") sizes="196x196"
    link rel="icon" type="image/png" href=asset_path("favicon/favicon-228x228.png") sizes="228x228"

    javascript:
      document.getElementsByTagName("html")[0].className = "js"
    = inline_css "bundles/critical", minify: false

  body data-has-youtube-video=@has_youtube_video data-load-pinterest=@pinterest_btn data-gtm-id=google_analytics_id data-google-font-families=google_font_families.to_json

    = render "preloader"
    - if @render_header != false
      = render "header"
    = render "menu"
    = render "popup"
    .main-wrapper
      - if devise_controller?
        .devise-content
          = yield
      - else
        = yield
        .scrollBtn title=I18n.t("html_titles.scroll_up")
          = inline_svg('svg/scrollBtn.svg')

    - if @render_footer != false
      = render "footer"

    /- if @preloader
    /= javascript_include_tag "preloader"
    /- else
    /  = javascript_include_tag "jquery"

    = stylesheet_link_tag    "application", media: 'all'

    /script type="text/javascript" async="" src="//api.venyoo.ru/wnew.js?wc=venyoo/default/science&widget_id=4812314439843840"
    /- if @pinterest_btn
      script async="" src="//assets.pinterest.com/js/pinit.js" defer=""
    - popup_vimeo_videos.each do |video|
      = render "vimeo_video_popup", video_id: video[:video_id], popup_id: video[:popup_id]
    /- popup_youtube_videos.each do |video|
      = render "youtube_video_popup", video_id: video[:video_id], popup_id: video[:popup_id]
    - if has_vimeo_video?
      script src="https://player.vimeo.com/api/player.js"
    = render_page_scripts
    - if @has_youtube_video
      script src="https://www.youtube.com/iframe_api" async="" defer=""
    /= render "cms/web_font_loader_async", google_families: ['Istok Web:400,400italic,700,700italic&subset=cyrillic,cyrillic-ext','Cormorant Infant:400,400italic,700,700italic&subset=cyrillic,cyrillic-ext']
    /= render "cms/gtm"
    = render "cms/gtm_noscript"